body {
        font-family: Calibri, serif;
        margin: 0 auto;
        padding: 0px;
        text-align: center;

        background-image: url("bg.jpg") ;
        background-size: 100%;

}

h1{
	color : #069E8A;
	margin-bottom: 35px;
}


nav ul {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
}

nav li {
        list-style-type: none;
        float: center;
        display : inline-block;
         font-style: italic;
}

nav {
        width: 100%;
        background-color: #383838;
        display : inline-block;
        float: center;
}

nav a{
        display: inline-block;
        text-decoration: none;
        padding: 20px 30px;
        color: #FFF;
}

nav li:hover a{
        padding: 15px 30px 20px 30px
}

.menu1:hover{
        border-top: 5px solid #e44d26;
        background-color: RGBa(228, 77, 38, 0.15);
}

.menu2:hover {
        border-top: 5px solid #0070bb;
        background-color: RGBa(000, 112, 192, 0.15);
}

.menu3:hover{
        border-top: 5px solid #f1dc4f;
        background-color: RGBa(241, 211, 79, 0.15);
}

.menu4:hover{
        border-top: 5px solid #BBB;
        background-color: RGBa(220, 220, 220, 0.15);
}

.menu5:hover{
        border-top: 5px solid #BBB;
        background-color: RGBa(220, 220, 220, 0.15);
}

.photo {
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 50%;

        left: 50%;
        top: 50%;
        width: 200px;
        height: 200px;
        display: inline-block;
}

.date{
	color: #033C35;
	margin-top: 40px;
	font-size: 20px;
}

.intitule{
	list-style-type: none;
	color:gray;
	 font-style: italic;
   text-align: center;
}
.herder, img{
  width: 100px;
}
